Following RFC 1341, section 7.2, not able to set multiple contents

#### Issue Summary

Not able to set multiple contents.

`message":"Following RFC 1341, section 7.2, if either text/html or text/plain are to be sent in your email: text/plain needs to be first, followed by text/html, followed by any other content.","field":"content","help":null}]}`

#### Steps to Reproduce

    $email = new SendGrid\Mail\Mail();
    $email->setFrom("contact-form@webstuff", "web form");
    $email->setSubject($subject);
    $email->addTo("some@gmail.com", "Pippo");
    $email->addContent("text/plain", "Name: " . $name);
    $email->addContent("text/plain", "Phone number: " . $phone);
    $email->addContent("text/plain", "Message: " . $message);

    $response = $sendgrid->send($email);

All my attributes are strings
#### Technical details:

* sendgrid-php Version: 7.2.1 master (latest commit: [commit number])
* PHP Version: 7.2 (as of May 17, 2018)
* Wordpress 5.0.3


@thinkingserious Yes, that is how I ended up solving. Thanks for the clarification.